# .env

## 공통 환경 변수
MARIADB_ROOT_USER=<MARIADB 아이디>
MARIADB_ROOT_PASSWORD=<MARIADB 비밀번호>

MARIADB_USER=backend_user
MARIADB_PASSWORD=<MARIADB 비밀번호>
MARIADB_DATABASE=nx_cms_database

MARIADB_GALERA_MARIABACKUP_USER=<MARIADB 백업 아이디>
MARIADB_GALERA_MARIABACKUP_PASSWORD=<MARIADB 백업 비밀번호>
