# .env

# ---------------------------
# Redis 환경 변수
# ---------------------------
REDIS_PORT=6379
REDIS_PORT_1=6380
REDIS_PORT_2=6381
REDIS_PORT_3=6382
REDIS_PORT_4=6383
REDIS_PORT_5=6384
REDIS_PASSWORD=<REDIS 비밀번호>
REDIS_MAX_MEMORY=8gb